.slink-banner {
  color: #000;
  background: #5d5;
  font-size: 16px;
  padding: 1em;
  text-align: center;
  line-height: 100%;
}

.slink-banner img {
  height: 3em;
}

.slink-banner__homepage-link {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  margin-right: 1em;
}

.slink-banner__metadata-container {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

.slink-banner__metadata-line {
  display: block;
  font-size: 0.9em;
  line-height: 1.2em;
}

.slink-banner__verified-link {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  margin-left: 1em;
}
