.slink-banner {
  background: #5d5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  height: 5em;
  padding: 1em;
  text-align: center;
  line-height: 5em;
}

.slink-banner__homepage-link {
  float: left;
}

.slink-banner__metadata-container {
  display: inline-block;
  vertical-align: middle;
}

.slink-banner__metadata-line {
  display: block;
  line-height: 1.2em;
}

.slink-banner__verified-link {
  float: right;
}

.slink-banner-spacer {
  width: 100%;
  font-size: 16px;
  height: 5em;
}
