.slink-banner {
  color: #000;
  background: #5d5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 16px;
  padding: 1em;
  text-align: center;
}

.slink-banner img {
  height: 3em;
}

.slink-banner__homepage-link {
  float: left;
  height: 3em;
}

.slink-banner__metadata-container {
  display: inline-block;
}

.slink-banner__metadata-line {
  display: block;
  font-size: 0.9em;
  line-height: 1.2em;
}

.slink-banner__verified-link {
  float: right;
  height: 3em;
}

.slink-banner-spacer {
  width: 100%;
  font-size: 16px;
  height: 5em;
}

.slink-highlight {
  color: black;
  background: yellow;
  line-height: 1.5em;
  padding: 0.25em 0;
}

#slink {
  display: block;
  position: relative;
  top: -100px;
}
