<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style.css" rel="stylesheet">
  <title>{{ title }} | slink.to</title>
</head>
<body>
  <div class="page">
    {{> @partial-block }}
    <div class="section odd" id="footer">
      {{> footer }}
    </div>
  </div>
</body>
</html>
