{{#> base title='Home' }}
<div class="hero">
<div class="hero-inner">
  <img class="hero-logo" src="img/logo-256.png">
  <h1>slink.to</h1>
  <p class="tagline">selection links</p>
  <div class="download-icons">
    <a class="download-icon" href="..."><img src="img/firefox.png" alt="Download for Firefox"></a>
    <a class="download-icon" href="..."><img src="img/chrome.png" alt="Download for Chrome"></a>
    <a class="download-icon" href="..."><img src="img/bookmarklet-128.png" alt="Use a bookmarklet"></a>
  </div>
</div>
</div>
<div class="section" id="steps">
  <h2>slink lets you link anyone to a highlighted section of a webpage.</h2>
  <div class="widebox">
    <img class="widebox-half" src="img/step-1.png">
    <div class="widebox-half">
      <h3>Step 1</h3>
      <p>Select the content you want to highlight like you normally do when copying and pasting.</p>
    </div>
  </div>
  <div class="widebox">
    <div class="widebox-half">
      <h3>Step 2</h3>
      <p>Click the slink button. You'll have to wait a few seconds while all the data is set to the server and processed.</p>
    </div>
    <img class="widebox-half" src="img/step-2.png">
  </div>
  <div class="widebox">
    <img class="widebox-half" src="img/step-3.png">
    <div class="widebox-half">
      <h3>Step 3</h3>
      <p>A new tab opens with a copy of the page with your selection highlighted. Just use the URL in your address bar.</p>
    </div>
  </div>
</div>
<div class="section odd" id="verification">
{{> verification }}
</div>
<div class="section" id="copyright">
  <h2>For copyright holders</h2>
  <div class="columns">
  <p>Because of the way slink works, it is possible for users to slink content that is behind paywalls, and share this content with other users. Although there are legitimate uses of slinks under these circumstances, it is also possible may use slinks for the primary purpose of defeating paywalls. If you are a copyright holder and would like a slink removed because it violates your content distribution policies, please submit an issue on GitHub or e-mail ... .</p>
  </div>
</div>
<div class="section odd" id="footer">
</div>
{{/base}}
