<h2>Verification</h2>
<h3>What is verification?</h3>
<div class="columns">
<p>When a user makes a slink, the view of the page the user sees is sent to the slink server, and it is this version of the web page that is highlighted. slink must operate on the client's version of the page because some websites rely heavily on JavaScript to change the page after it is loaded, and in some cases such as imageboards, the content at a given URL can change very quickly.</p>
<p>Although highlighting the user view makes slinking robust, it also presents a security problem because it is easy for a malicious user to change the content of a page before they request a slink. If slinked documents are of questionable authenticity then that poses a problem for many slink use cases, such as drawing attention to a statement made by someone in an online publication -- if a slinked statement cannot be proven authentic then it is of little value.</p>
<p>To provide authenticity while preserving the operation of the system, when a user requests a slink they must also tell the slink server the alleged location of the document they are slinking. The server downloads its own copy of the page and compares its version with the version sent by the client. If the two pages are identical, the server can conclude that the user hasn't altered the page, and a verification checkmark will appear in the banner displayed at the top of the slink.</p>
<p>The current implementation of verification in slink is very strict, and it is likely that it will mark many slinks as unverified because of minor changes in document structure that do not reflect malicious intent or significant changes to the document in question. Because of this, you can request the metadata of a slink, including the information about the difference between the user version and authoritative version of a page, so that you are free to make your own judgements. We look forward to improving the verification system in the future and providing more accurate results.</p>
{{#if id }}
</div>
<h3>Metadata for slink {{ id }}</h3>
<h4>Banner</h4>
{{> banner }}
<h4>diffDOM object</h4>
{{#equal verified 'Yes'}}
<p>The diffDOM object for this slink was empty and the slink is considered verified.</p>
{{else}}
<pre class="diffdom">{{ diff }}</pre>
{{/equal}}
{{/if}}
<p>slink uses <a href="https://github.com/tmpvar/jsdom">jsdom</a> for converting HTML source to a machine-readable DOM object and vice versa, and uses <a href="https://github.com/fiduswriter/diffDOM">diffDOM</a> for calculating the difference between the authoritative and user DOMs.</p>
{{#unless id }}
</div>
{{/unless}}
